<header>
  <h1>
    G2 Component for Angular >= 2
  </h1>
</header>

<section>
  <p>
    See documentation on <a href="https://github.com/VadimDez/ngx-g2">https://github.com/VadimDez/ngx-g2</a>.
  </p>

  <g2 [data]="data"
      [titles]="titles"
      [width]="width"
      [height]="height"
      [plotCfg]="plotCfg"
      [forceFit]="forceFit"
      (configure)="configure($event)"
  ></g2>

  <h3>
    [forceFit]
  </h3>
  <p>Fit to parents width</p>
  <label>
    <input type="radio" [value]="true" [(ngModel)]="forceFit">
    true
  </label>
  <label>
    <input type="radio" [value]="false" [(ngModel)]="forceFit">
    false
  </label>
</section>
