@import "../variables";
:host {
    > section {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

header {
    background-color: $primary;
    color: $primary-contrast;
    padding: 0 40px;
    height: 72px;

    h1 {
        line-height: 72px;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }
}

h3 {
    margin-top: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid transparentize($primary, .8);
}

textarea {
    width: 100%;
    outline-color: $primary;

    &.has-error {
        border-color: $error;
        outline-color: $error;
    }
}

p.has-error {
    color: $error;
    margin-top: 0;
}

p.description {
    color: $description;
    font-style: italic;
    border-left: 3px solid $description;
    padding-left: 10px;
}

footer {
    height: 72px;
    text-align: center;
    background-color: $primary;
    margin-top: 20px;

    a {
        color: $primary-contrast;
        line-height: 72px;
    }
}