<header>
  <h1>
    G2 Component for Angular >= 2
  </h1>
</header>

<section>
  <p>
    See more documentation at <a href="https://github.com/VadimDez/ngx-g2">https://github.com/VadimDez/ngx-g2</a>.
  </p>

  <g2 [data]="data"
      [titles]="titles"
      [width]="width"
      [height]="height"
      [plotCfg]="plotCfg"
      [forceFit]="forceFit"
      (configure)="configure($event)"
  ></g2>

  <section>
    <h3>
      [forceFit]
    </h3>
    <p class="description">Fit to parents width</p>
    <label>
      <input type="radio" [value]="true" [(ngModel)]="forceFit">
      true
    </label>
    <label>
      <input type="radio" [value]="false" [(ngModel)]="forceFit">
      false
    </label>
  </section>


  <section *ngIf="!forceFit">
    <h3>
      [width]
    </h3>
    <p class="description">Chart's width</p>

    <input type="number" [(ngModel)]="width" placeholder="[width]">

    <h3>
      [height]
    </h3>
    <p class="description">Chart's height</p>
    <input type="number" [(ngModel)]="height" placeholder="[height]">
  </section>

  <section>
    <h3>
      [data]
    </h3>
    <p class="description">Chart's data</p>
    <textarea name="data"
              rows="10"
              placeholder="[data]"
              [value]="getAsText(data)"
              (keyup)="onDataChange($event)"
              [class.has-error]="hasDataError"
    ></textarea>
    <p *ngIf="hasDataError" class="has-error">JSON is not valid</p>
  </section>

  <section>
    <h3>
      [plotCfg]
    </h3>
    <p class="description">Chart's plot configuration</p>
    <textarea name="data"
              rows="10"
              placeholder="[plotCfg]"
              [value]="getAsText(plotCfg)"
              (keyup)="onPlotCfgChange($event)"
              [class.has-error]="hasPlotCfgError"
    ></textarea>
    <p *ngIf="hasPlotCfgError" class="has-error">JSON is not valid</p>
  </section>
</section>

<footer>
  <a href="https://github.com/vadimdez">Vadym Yatsyuk</a>
</footer>
